{% extends "base.html" %}

{% block navbar %}
  <ul class="nav">
    <li><a href="/play">Play</a></li>
    <li><a href="/hiscores">Hiscores</a></li>
    <li class="active"><a href="/about">About</a></li>
  </ul>
{% endblock%}

{% block leftpanel %}
    <div class="well well-large">
      {% for about in about_list %}
        <h3>{{ about.title }}</h3>
        <h5>{{ about.body }}</h5>
      {% endfor %}
    </div>
  
{% endblock %}

{% block rightpanel %}
  <img src="http://25.media.tumblr.com/tumblr_lfjfhc40EZ1qb6rl5o1_500.jpg"
            style=" width: 500px; height: 530px;">
{% endblock %}