{% extends "base.html" %}

{% block navbar %}
  <ul class="nav">
    <li><a href="/play">Play Netmines</a></li>
    <li><a href="/hiscores">Hiscores</a></li>
    <li><a href="/about">About</a></li>
  </ul>
{% endblock%}

{% block leftpanel %}
  {% for announcement in announcement_list %}
    <div class="well well-large">
      <h3>{{announcement.title}}</h3>
      <h5>{{announcement.body}}</h5>
      <h6>Posted by {{announcement.poster}} on {{announcement.date}}</h6>
    </div>
  {% endfor %}
{% endblock %}

{% block rightpanel %}
  <img src="http://25.media.tumblr.com/tumblr_lfjfhc40EZ1qb6rl5o1_500.jpg"
            style=" width: 500px; height: 530px;">
{% endblock %}